{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Drugs table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                
                <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manufacturer</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Expiry Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                {% for drug in drugs %}
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{drug.name}}</h6>
                            <p class="text-xs text-secondary mb-0">{{drug.generic_name}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{drug.manufacturer}}</p>
                      </td>
                      
                      {% if not has_expired %}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{drug.expiration_date}}</span>
                      </td>
                      {% else %}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-warning">{{drug.expiration_date}}</span>
                      </td>
                        
                      {% endif %}
                        
                     
                      <td class="align-middle text-center">
                        <h6 class="mb-0 text-sm"><small>NGN</small> {{drug.price_per_item}}</h6>
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'order-drug' drug.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          order
                        </a>
                      </td>
                    </tr>
                  </tbody>
                {% endfor %}
              
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
    
  </div>
  {% endblock content %}
