{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Products</h1>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
<ul>Order Drug
  {% for drug in drugs %}
  <li>
      {{ drug.name }} - ${{ drug.price_per_item }} - {{ drug.stock_quantity }} in stock
      <form method="post" action="{% url 'order-drug' %}">
          {% csrf_token %}
          <input type="hidden" name="drug" value="{{ drug.id }}">
          <input type="number" name="quantity" min="1" max="{{ drug.stock_quantity }}" value="1" required>
          <button type="submit">Order</button>
      </form>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
