{% extends "base.html" %}
{% load static %}
{% block title %}  My Orders {% endblock %}
{% block content %}
    <h1>Your Orders</h1>
    {% for order in orders %}
        <h2>Order ID: {{ order.id }}</h2>
       
       {% for item in order.items.all %}

       Drug Name: {{ item.drug.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.drug.price_per_item }}
       {% endfor %}
        <p>Date: {{ order.created }}</p>
        <p>Total Amount: {{ order.total_price }}</p>
        <p>Status: {{ order.status }}</p>
        
        </ul>
    {% endfor %}
Drug Name: {{ item.drug.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.drug.price }}
{% endblock %}


